language: node_js

jobs:
  include:
    - stage: test
      services:
        - docker

      before_install:
        - docker pull nmonst4/opsi
        - docker run -itd --name docker-opsi -h opsi.docker.lan -p 4447:4447 -e OPSI_USER=opsi -e OPSI_PASSWORD=opsi nmonst4/opsi
        - docker exec docker-opsi /usr/local/bin/entrypoint.sh
        - docker exec docker-opsi opsi-product-updater -i -vv -p hwaudit,swaudit

      before_script:
        - nvm install --lts
        - npm install --silent

      script:
        - npm run test

      after_success:
        - npm pack

      deploy:
        - provider: releases
          api_key: $GITHUB_TOKEN
          file_glob: true
          file: "{YOURLIB}-*.tgz"
          skip_cleanup: true
          on:
            tags: true
        - provider: npm
          skip_cleanup: true
          email: "mail@mathar.work"
          api_key: $NPM_TOKEN
          on:
            tags: true
    - stage: build_and_deploy_docs
      before_install:
        - nvm install --lts
        - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.12.3
        - export PATH="$HOME/.yarn/bin:$PATH"
      install:
        - yarn --silent
      script:
        - yarn docs:build
      cache:
        directories:
          - "node_modules"
      notifications:
        email: false
      deploy:
        - provider: pages
          skip_cleanup: true
          local_dir: docs/.vuepress/dist
          github_token: $GITHUB_TOKEN
          keep-history: true
          on:
            branch: master
